[submodule "W03_D1/foundry_pro/lib/forge-std"]
	path = W03_D1/foundry_pro/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W03_D3/EIP712Sign/lib/forge-std"]
	path = W03_D3/EIP712Sign/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W03_D3/EIP712Sign/lib/openzeppelin-contracts"]
	path = W03_D3/EIP712Sign/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
